function {{ j_alias_name }} -d "cd with smarts"
{# TODO: set this?
  # set -q FZF_CD_WITH_HIDDEN_COMMAND
  # or set -Ux FZF_CD_WITH_HIDDEN_COMMAND "
  # command find / \
  # \\( -path '*/\\.git*' -o -path '*node_modules*' -o -path '/System' \
  # -o -path '/private/var' -o -path '*cache*' -o -path '*Cache*' \
  # -o -path '*Library*' -o -path '*.photoslibrary' -o -path '*vsprojects' \
  # -o -path '*vcxproj' -o -path '/\\.*' -o -path '*.app' -o -path '*locale*' \
  # -o -path '*Frameworks*' -o -fstype 'dev' -o -fstype 'proc' \) \
  # -prune -o -type d -print ^/dev/null" 
#}
  count $argv > /dev/null
  and set -l directory $argv[1]

  if test -z $directory
    __fzf_cd_with_hidden
    return
  end
      
  if test -d $directory
    cd $directory
    return
  end

  # FIXME: fix fzf functions upstream so they accept params; this is ridiculous...
  set -q FZF_CD_WITH_HIDDEN_OPTS
  and set -l saved_fzf_cd_with_hidden_opts $FZF_CD_WITH_HIDDEN_OPTS

  set -gx FZF_CD_WITH_HIDDEN_OPTS "-q $argv $saved_fzf_cd_with_hidden_opts"
  __fzf_cd_with_hidden

  if set -q saved_fzf_cd_with_hidden_opts
    set -Ux FZF_CD_WITH_HIDDEN_OPTS $saved_fzf_cd_with_hidden_opts 
  else
    set -e FZF_CD_WITH_HIDDEN_OPTS
  end
end
