function {{ j_alias_name }} -d "cd with smarts"
  count $argv > /dev/null 
  and set -l directory $argv[1]

  if test -z $directory
    __fzf_cd
    return
  end

  if test -d $directory
    cd $directory
    return
  end

  # FIXME: fix fzf functions upstream so they accept params; this is ridiculous...
  set -q FZF_CD_OPTS
  and set -l saved_fzf_cd_opts $FZF_CD_OPTS

  set -gx FZF_CD_OPTS "-q $argv $saved_fzf_cd_opts"
  __fzf_cd

  if set -q saved_fzf_cd_opts
    set -Ux FZF_CD_OPTS $saved_fzf_cd_opts
  else
    set -e FZF_CD_OPTS
  end
end
