function {{ j_alias_name }} -d "cd with smarts"
  function _cd
    cd ({{ j_find_directories_command }} | {{ j_filter_command }} -q "$argv")
  end

  if test -z $argv
    _cd ''
  else if test -d $argv
    cd $argv
  else
    _cd $argv
  end
end
